/* CSS declarations go here */

#alpha {
	padding: 0 3px 2px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	color: #D14
}

#user_total_points {
	color:  black;
}

.hover-show:hover a{
	visibility: visible;
}

.my-inline {
	display: inline;
}

.add-new-content {
	border: 2px solid #1B1B1B;
	padding: 5px;
	margin-bottom: 10px;
}

.course-title-span {
	margin-left: 0;
}

/* The next sections are css to make edit input fields look like h2 or h3 elements*/
.h3-edit, .h2-edit, .h1-edit{
	display: block;
	height: inherit;
}

.h3-edit input, .h2-edit input, .h1-edit input{
	line-height: 40px;
	height: 40px;
	margin-bottom: inherit;
	padding: inherit;
	font-family: inherit;
	font-weight: bold;
	color: inherit;
	border: none;
	text-rendering: optimizelegibility;
	box-shadow: none;
}

.h3-edit input{
	font-size: 24px;
}

.h2-edit input {
	font-size: 30px;
}

span.extraspace h3 {
	padding: 5px;
	margin-bottom: 10px;
}

input.extramargin {
	margin-bottom: 10px;
	margin-right: 5px;
	padding-left: 7px;
}

div.save_exercise_edit {
	display: none;
}

div.save_exercise_edit button{
	margin-bottom: 10px;
	margin-right: 5px;
}

.hl code{
	font-size: large;
}
.hl p {
	font-size: large;
}

.hl2 p, code{
	font-size: large;
}
.exercises code {
	font-family: monospace;
}

.answer-div {
	margin: 40px 0px 70px 25px;
	/*border-bottom: dotted black;*/
	/*background-color: white;*/
}

.answer-div .lead{
	border-bottom: dotted black;
	/*border-color: #3A87AD;*/
}

/* Rules desktop screens */
@media (min-width: 1200px) {
	body {
		padding-top: 60px;
		padding-bottom: 40px;
	}
	.add-new-content {
		position: fixed;
	}
}
/* Rules for tablets and smaller*/
@media (max-width: 979px) {

}

.footer {
	padding: 70px 0;
	margin-top: 70px;
	border-top: 1px solid #E5E5E5;
	background-color: whiteSmoke;
}

.leaderboard {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 14px;
	background-color: white;
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
