.add-new-content {
	margin-bottom: 15px;
	padding: 10px;
	border: 1px solid #ddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	box-shadow: 0 1px 2px rgba(0,0,0,.075);
}

.course-box a {
	margin-left: 5px;
}

.course-box h3 {
	margin-right: 15px;
}

/* Display as block to enable showing of hovered options*/
.h3-edit, .h2-edit, .h1-edit{
	display: block;
	height: inherit;
}

/* Rules desktop screens */
@media (min-width: 1200px) {
	.add-new-content {
		position: fixed;
		margin-top: 50px;
	}
}

/*Fixes x-editable popover when it is used on a hover*/
h1 .popover{
	font-size: 24px;
	font-weight: 300;
	line-height: 1.25;
	letter-spacing: 0;
}


.editron {
	position: absolute;
	padding: 40px 0;
	top: 40 px;
	z-index: -1;
}

.editron h1 {
	font-size: 80px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;

}
.editron p {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.25;
	margin-bottom: 30px;
}