.exercise {
	margin-bottom: 100px;
}

.exercise:first-child {
	margin-top: 16px;
}

.editorbutton {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.buttonpanel button {
	margin: 5px; 
}

.answer-result code{
	word-break: normal;
}

.exercise-title {
	font-weight: 200;
	padding-bottom: 20px;
}

.points-success {
	border-radius: 5px;
	color: white;
	background-color: #468847;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px; 
}

.points-muted {
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px; 
}