.exercise {
	margin-bottom: 100px;
}

.exercise:first-child {
	margin-top: 16px;
}

.editorbutton {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.buttonpanel button {
	margin: 5px; 
}